/* Geral */
:root{
    --input-dimension: 3rem;
    --input-fontSize: 2.5rem;
    --input-borderRadius: 0.1rem;
    
    --input-beforeDimension: 3.7rem;
    --input-beforeBorderRadius: 0.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mitr';
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #6E5C62;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

h1{
    --before-content:'';
    color: #f6f6f6;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

h1::before {
    content: '';
    position: absolute;
    top: 2.5rem;
    left: 50%;
    transform: translateX(-100%) scale(1);
    font-size: 1rem;
    background-color: #009AFE;
    border-radius: 0.5rem;
    padding: 0.2rem;
    opacity: 0;
    transition: transform 0.5s ease;
}

h1.sla::before{
    content: var(--before-content);
    position: absolute;
    top: 2.5rem;
    left: 50%;
    width: 14rem;
    text-align: center;
    transform: translateX(-50%) scale(1);
    font-size: 1rem;
    background-color: #009AFE;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    opacity: 1;
    transition: transform 0.5s ease;
}

/* Estilos comuns a todos as divs*/

.inputsContainer{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.inputWrapper{
    position: relative;
    z-index: 1;
}

/***** Estilo da div ativa *****/

.inputsContainer.active .termoInput {
    border: none;
    caret-color: transparent;
    border-radius: var(--input-borderRadius);
    width: var(--input-dimension);
    height: var(--input-dimension);
    background-color: #6E5C62;
    color: #f6f6f6;
    font-size: var(--input-fontSize);
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    cursor: pointer ;
}

.inputsContainer.active .inputWrapper::before{
    position: absolute;
    content: '';
    width: var(--input-beforeDimension);
    height: var(--input-beforeDimension);
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--input-beforeBorderRadius);
    background-color: #4C4347;
    z-index: -1;
}

.inputsContainer.active .termoInput:focus {
    outline: none;
    height: calc(var(--input-dimension) - 0.2rem);
}

/***** Estilo da div waiting *****/

.inputsContainer.waiting .termoInput {
    border: none;
    caret-color: transparent;
    border-radius: var(--input-borderRadius);
    width: var(--input-dimension);
    height: var(--input-dimension);
    background-color: transparent;
    color: #f6f6f6;
    font-size: var(--input-fontSize);
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    cursor: pointer ;
}

.inputsContainer.waiting .inputWrapper::before{
    position: absolute;
    content: '';
    width: var(--input-beforeDimension);
    height: var(--input-beforeDimension);
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--input-beforeBorderRadius);
    background-color: #615458;
    z-index: -1;
}

/***** Estilo da div used *****/

.inputsContainer.used .termoInput{
    border: none;
    caret-color: transparent;
    border-radius: var(--input-borderRadius);
    width: var(--input-dimension);
    height: var(--input-dimension);
    background-color: transparent;
    color: #f6f6f6;
    font-size: var(--input-fontSize);
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    cursor: pointer ;
}

.inputsContainer.used .inputWrapper.correct::before{
    position: absolute;
    content: '';
    width: var(--input-beforeDimension);
    height: var(--input-beforeDimension);
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--input-beforeBorderRadius);
    background-color: #3AA394;
    z-index: -1;
}

.inputsContainer.used .inputWrapper.absent::before{
    position: absolute;
    content: '';
    width: var(--input-beforeDimension);
    height: var(--input-beforeDimension);
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--input-beforeBorderRadius);
    background-color: #312A2C;
    z-index: -1;
}

.inputsContainer.used .inputWrapper.misplaced::before{
    position: absolute;
    content: '';
    width: var(--input-beforeDimension);
    height: var(--input-beforeDimension);
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--input-beforeBorderRadius);
    background-color: #D3AD69;
    z-index: -1;
}